.container{
    align-items: center;
    align-self: center;
    text-align: center;
}
.card{
    margin: 1.5rem;
    align-items: center;
    align-self: end;
    background-color: rgb(57, 141, 57);
    height: 60%;
    width: auto;
    border: 2rem;
    margin: 2rem;

}
.card-body{

    border: 2rem;
    margin: 2rem;

}
.img{
    margin: 1rem;
    border-radius: 50%;
    width: 70%;
    justify-self: center;
    align-content: center;

}

body{
    background: rgb(233,233,233);
    background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(148,148,148,1) 100%);
}

h1{
    text-align: center;
}
 .row{
    align-items: end;
 }
